<div class="container">
  <div class="row">
    <div class="col-md-6 text-center like-display">
        <% if @like = current_user.likes.find_by(post_id: resource.id) %>
          <%= form_for(@like, method: :delete, remote: true) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: resource.id %>
            <%= f.submit "", class: "likes" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.likes.build, method: :post, remote: true) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: resource.id %>
            <%= f.submit "", class: "likes" %>
          <% end %>
        <% end %>

    </div>
    <div class="col-md-6 text-center comment-display">
      <span><%= link_to "",post_comments_path(post_id: resource.id), class: "comment-button",id: "post-"+resource.id.to_s+"-comment-button",remote: true %></span>
    </div>
  </div>
</div>
