
<div class="post-section">
  <div class="post-origin">
    <%= link_to post.user.name, post.user %>
    <small><%= time_ago_in_words(post.created_at) %> ago</small>
  </div>
  <p><%= post.content %></p>
  <span class="content">
    <%= image_tag post.picture.url,class: 'posted-image' if post.picture? %>
  </span>
  <div class="text-right likes-info-counters">
    <span class="likes-image"></span>
    <span class="likes-counter">
      <small id="post-<%= post.id %>-likes"><%= post.likes.count %> </small>
    </span>
    <span class="comments-counter" id="post-<%= post.id %>-comments-count">
      <small>
        <%= pluralize(post.comments.count, "comment") %>
      </small>
    </span>
  </div>
  <div class="post-reactions" id="post-<%= post.id %>-attention" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center like-display">
          <%= render 'likes/button', resource: post %>
          <%# render post.likes.where(user_id: current_user.id) %>
        </div>
        <div class="col-md-6 text-center comment-display">
          <%= render 'comments/button', resource: post %>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush" id="post-<%= post.id %>-comments">
    <%= render post.comments %>
  </ul>
  <div class="comment-form">
    <%= render 'comments/form', resource: post %>
  </div>
</div>
